<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Description Header Tags -->
    <meta name="keywords" content="one, two, three" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="John Doe" />
    <!--- Open Graph tags -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="img/ogimage.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="OG image description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ ogwebsite_URL }}" />
    <meta property="og:locale" content="{{ oglocale }}" />
    <!-- <base href="https://www.url.com/" target="_blank"> -->

    <title>{{ title }}</title>
    <!-- Stylesheets - the value from the last read style sheet will be used. -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- add more by css?family=Audiowide|Sofia|Trirong&effect=neon|outline|emboss -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide&effect=fire|neon" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body onload="currentDate()">
    <!-- HEADER -->
    <header>
        <h1>{{ title }}</h1>
        {% include "layouts/navbar.njk" %}
    </header>
    <!-- MAIN CONTENT -->
    <main>
        {{ content | safe }}
    </main>
    <!-- FOOTER -->
    <footer>
        {% include "layouts/footer.njk" %}
    </footer>

    <!-- Javascript Area -->
    <script type = "text/javascript" src="js/customFunctions.js"></script>
</body>
</html>