FOOTER CODE HERE<br />
<!-- Need to put this in it's own js file-->
<p>Copyright &copy; <script>document.write(new Date().getFullYear())</script></p>
<!-- FIX ME! -->
<p><script type="text/javascript" language="JavaScript">window.onload=currentDate();</script> test</p>