/* TODO: Set standard decent fonts and colors https://www.w3schools.com/css/css_font_pairings.asp 
Maybe just use Tailwind CSS look into that after running through everything on W3 
Rounded borders https://www.w3schools.com/css/css3_borders.asp
Web fonts https://www.w3schools.com/css/css3_fonts.asp
Changes to screen size or orientation https://www.w3schools.com/css/css3_mediaqueries_ex.asp
Flexbox & Perfect Centering https://www.w3schools.com/css/css3_flexbox_container.asp
Responsive https://www.w3schools.com/css/css_rwd_intro.asp
12 grid view https://www.w3schools.com/css/css_rwd_grid.asp
Mobile first https://www.w3schools.com/css/css_rwd_mediaqueries.asp
Responsive images https://www.w3schools.com/css/css_rwd_images.asp
Colors https://www.w3schools.com/colors/colors_names.asp
*/
/* Body Style */
body {
    font-family: Verdana, sans-serif;
    color: blueviolet;
    background-color: lightblue;
    /* background-image: url("../img/SlothA.jpg"); */
    background-repeat: no-repeat;
    background-position: left top;
}
/* Nav Bar Styles */
nav {
    color:black;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* below fixes it to the top/makes it sticky on scroll */
    position: fixed;
    top: 0;
    width: 100%;
}
nav li {
    float: left;
}
nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
nav .active {
    background-color: red;
}
nav a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
nav a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
nav a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
nav a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
/*dropdowns*/
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
} 
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}  
/* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 



/* Text Element Styles */
h1 {
    font-family: Georgia, serif;
    color:crimson;
    text-shadow: 2px 2px blue;
    font-size: 5vw; /* Responsive Font Size example*/
}
p {
    color:brown;
    font-family: 'Courier New', Courier, monospace;
}
p.center {
    text-align: center;
    background-color: darkgray;
    font-family: "Times New Roman", Times, serif;
}
p.dottedborder{
    border-width:2px;
    border-style: dotted;
}
p.large {
    font-size: 200%;
}
p.roundedborder{
    border-radius: 5px;
}
pre {
    color:olive;
    border-width: 2px; 
    border-style: solid;
    border-color: olive;
    padding: 30px;
}

/* Link Styles */
a{
    color: black;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* List Styles */
ul.ul-cirle {
    list-style-type: circle;
}
ul.ul-square {
    list-style-type: square;
}  
ol.ol-roman-uppoer {
    list-style-type: upper-roman;
}
ol.alpha-lower {
    list-style-type: lower-alpha;
}

/* Table Styles */
/* https://www.w3schools.com/css/css_table_responsive.asp */
tr:hover{
    background-color: coral;
}
tr:nth-child(even){
    background-color: lightgreen;
}

/* Form Styles */
input:focus {
    background-color: yellow;
    border: 3px solid #555;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

/* Image Styles*/
img.opacity { /* Set image opacity to 50% */
    opacity: 0.5;
}
  
img:hover { /* Undo opactity changes on mouseover */
    opacity: 1.0;
}
img.circleimage {
    border-radius: 50%;
}

/* Div Element Styles */
div.transbox { /* Transparent box */
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
div.transbox p { /* Transparent box text */
    margin: 5%;
    font-weight: bold;
    color: #000000;
}


/* id Elements - An id name cannot start with a number */
#id1{
    color:darkorange
}
#hidden{
    display: none; /* remove an element */
}
#hide-visibility{
    visibility: hidden; /* hides but does not remove an element. Still takes up the space */
}
#float-right{
    float:right
}
#float-left{
    float: left;
}

/* class Elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

/* Linear gradients */
#grad1 {
    height: 55px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
} 

#grad2 {
    height: 200px; /* transparency */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
#grad5 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-linear-gradient(45deg,red,yellow 7%,green 10%);
}

/* Transitions https://www.w3schools.com/css/css3_transitions.asp */
#transition1 {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s;
}
#transition1:hover {
    width: 300px;
    height: 300px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}