body {
    font-family: sans-serif;
    color: blueviolet;
}
h1 {
    color:crimson;
}
p {
    color:brown;
    font-family: 'Courier New', Courier, monospace;
}
pre {
    color:olive;
    border: 2px solid olive;
    padding: 30px;
}


a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }