/* Body Style */
body {
    font-family: sans-serif;
    color: blueviolet;
    background-color: lightblue;
}
/* Nav Bar Styles */
nav {
    color:black;
    text-align: center;
}

/* Text Element Styles */
h1 {
    color:crimson;
}
p {
    color:brown;
    font-family: 'Courier New', Courier, monospace;
}
p.center {
    text-align: center;
  }
p.large {
    font-size: 200%;
  }
pre {
    color:olive;
    border: 2px solid olive;
    padding: 30px;
}

/* Link Styles */
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

/* id Elements - An id name cannot start with a number */
#id1{
    color:darkorange
}